* {
    margin: 0;
    padding: 0;
}
ul {
    width:100%;
}
li {
    width:33%;
    float:left;
    border-right: 1px solid #eee;
}
li:last-child {
    border-right:none;
}
li a {
    display: block;
    width:80%;
    background:#ddd;
    padding:4% 10%;
    font-size:1.35em;
    text-decoration: none;
}
@media screen and (max-width: 768px) {
    #menu {
        width:1.4em;
        display: block;
        background:#ddd;
        font-size:1.35em;
        text-align: center;
    }
    #nav.js {
        display: none;
    }
    ul {
        width:100%;
    }
    li {
        width:100%;
        border-right:none;
    }
}
@media screen and (min-width: 768px) {
    #menu {
        display: none;
    }
}
