body {

    margin: 0;
    padding-left: 10;
    width: 100%;
    background-color: #ededed;
    background-size: 1600px 1600px;
}

h1 {
    color: black;
    margin-left: 20px;
    font-family: "Verdana", "Times New Roman"; 
    font-size: 20px;
}

h2 {
    color: black;
    margin-left: 45px;
    font-family: "Garamound", "Verdana"; 
    font-size: 10px;
    padding: 0;
}

#chartContainer {
    float: right;
    
    position: absolute;
    top: 150px;
    right: 100px;
    /*border-collapse: separate;*/
    /*border-spacing: 50px 1px 900px 900px;*/
    padding: 0px 100px 0px 0px;
    /*border-left: .5px solid grey;*/
    
}


h3 {
    display: inline-block;
    font-size: 18;
    color: #FF69B4;
    padding-left: 10px;
    font-family: 'Lato' bold;
    font-size: 30px;

}

#input-select,
#input-number {
    padding: 7px;
    margin: 15px 5px 5px;
    width: 70px;
}

#html5 {
    width: 200px;

}

#slider1 {
    width: 200px;
    
}
#soft {
    width: 300px;
    font-size: 8px;
    margin-left: 15px;
    
}

#valuebox {
    width: 200px;
    font-size: 10px;
    margin-left: 15px;
    
}

#retAgeSlider {
    width: 300px;
    font-size: 8px;
    margin-left: 15px;
    
}

#anIncSlider {
    width: 300px;
    font-size: 8px;
    margin-left: 15px;
    
}

#savAnSlider {
    width: 150px;
    font-size: 8px;
    margin-left: 15px;
    
}

#alSavSlider {
    width: 280px;
    font-size: 8px;
    margin-left: 15px;
    
}

#perNeedSlider {
    width: 150px;
    font-size: 8px;
    margin-left: 15px;
    
}

#ratRetSlider {
    width: 150px;
    font-size: 8px;
    margin-left: 15px;
    
}

#forminputs {
    width: 900px;
    font-size: 20px;
    margin: 0px 0px 0px 50px;
    /*color: #668cff;*/
    font-family: helvetica;
    
}

.form-control {
    display: inline-block; 
    width: 80px;
    height: 25px;
}

#alreadysaved {
    width: 90px;
}

.label {
    font-size: 16px;
    margin-left: 15px;

}

#title {
    display: block;
    font-size: 36px;
    float: left;
    margin-left: 5px;
    margin-top: 10px;
}


#titlemain {
    padding: 15px 0px 0px 200px;
    font-family: 'Oswald' , sans-serif;

    text-align: left;
    background-color: transparent;
}

html *{
/*background-color: #FAFAFA;
*/
}

#header {
    
    height: 90px;
    font-size: 35px;
    font-family: verdana;
    background-color: grey;

}

@media (max-width: 800px) {

    .navbar-brand {
        /*max-width: 2770px;*/
        font-size: 50px;
    }

    .dropdown-toggle {
    font-size: 29px;
    
    }

    .dropdown-menu {
        font-size: 20px;
        padding-top: 5px;
        
    }

    #wrapper {
        width: 100vw;
    }

    li {
        padding-bottom: 5px;
        color: red; 
    }

    #container {
        width: 98%;
        padding-top: 1px;
    }
    #right-tower {
    float: right;
    margin: 5px;
    border: 1px solid black;
    /*border: 1px solid black;*/
}

    #chartContainer {
        padding: 0px 0px 0px 0px;
        position: relative;
        top: 10px;
        right: 0px;
        width: 98%;
        

    }

    #forminputs {
    
    font-size: 23px;
    
    /*color: #668cff;*/
    font-family: helvetica;
    
}
}